package views

templ Home() {
	@Layout() {
		if user, ok := getLoggedInUser(ctx); ok {
			<h1>Dashboard </h1>
			<h1>Hello, { user.Name }</h1>
		} else {
			<a hx-boost="true" href="/auth/signup">Sign up</a>
			<a hx-boost="true" href="/auth/login">Log in</a>
		}
	}
}
